@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  flex-basis: 55%;
  margin: auto;
}

.image-article {
  width: 80px;
  height: 80px;
}

.image-article-recent {
  width: 40px;
  height: 40px;
}

.pointer {
  cursor: pointer;
}

.m-10 {
  margin: 50px 50px;
}

.h-fit {
  height: fit-content;
}

.red {
  color: #ff5757;
}

.bg-dark{
  background-color: #000000;
}

.elipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.comments {
  border-top: 1px solid #000000;
  padding-top: 25px;
  margin-top: 50px;
}

.comment-number {
  width: fit-content;
  font-weight: bold;
  padding: 10px 30px;
  margin: -50px auto auto;
  background-color: #f8f8f8;
}

.green {
  color: #1e8921;
}

.align {
  vertical-align: text-bottom;
}

.article-recent {
  width: 200px;
  border-radius: 5px;
}

.articles-recent {
  border-top: 1px solid #000000;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.articles-recent-title {
  width: fit-content;
  font-weight: bold;
  padding: 10px 30px;
  margin: -50px auto auto;
  background-color: #f8f8f8;
}

.image-infos {
  width: 500px;
  height: 500px;
  margin: 10px
}

.infos {
  margin-left: 15%;
}

.form-contact {
  margin-left: 100px;
  margin-right: 100px;
}

.form {
  width: 700px;
  margin: auto;
}

.center-form {
  margin: auto !important;
  margin-top: 100px !important;
}

.title {
  font-size: 34px;
}

nav {
  padding: 0 !important;
  background-color: white !important;
}

.login {
  width: 500px;
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.51);
}

.login .loginTitle {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.formTitle {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.loginForm {
  margin-top: 30px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formGroupInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.formGroupInfo label{
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}

.formGroupInfo p{
  font-size: 12px;
  background-color: rgba(255, 0, 0, 0.18);
  padding: 3px 6px 3px 6px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: rgba(255, 0, 0, 0.71);
}

.formGroup input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.formGroup textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.formGroup select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.formGroup input:focus{
   outline: 2px solid #7451f8;
 }

.formGroup textarea:focus{
  outline: 2px solid #7451f8;
}

.formGroup select:focus{
  outline: 2px solid #7451f8;
}

button:hover {
  opacity: 0.6
}

.disabled {
  opacity: 0.6;
  cursor: default !important;
  pointer-events: none !important;
}

.formButton {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #7451f8;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}


.sidebar {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.menu h4 {
  margin-bottom: 15px;
}

.menu li {
  margin-bottom: 10px;
  list-style-type: none;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  border-radius: 7px;
  transition: 0.1s;
}

.menu li i {
  vertical-align: text-bottom;
  margin-right: 10px;
}

.menu li:hover {
  color: #7451f8;
}

.sidebarItemOpen {
  background-color: rgba(116, 81, 248, 0.42);
  font-family: "Verdana", sans-serif;
  font-size: 18px;
}

.sidebarItem {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
}

.home {
  display: flex;
}

.link{
  text-decoration: none;
  color: inherit;
}

.link:hover{
  opacity: 0.6;
  color: white;
}


.navigation {
  width: 210px;
}

.articleItem {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
}

.articleItem img{
  width: inherit;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 250px;
  object-fit: cover;
}

.previewInfo {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px 20px 0 20px;
}

.authorInfo {
  display: flex;
  gap: 10px;
}

.authorInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.authorDescription {
  display: flex;
  flex-direction: column;
}

.authorName {
  font-size: 14px;
  font-weight: 600;
}

.postDate {
  font-size: 13px;
  color: #7c7b7b;
}

.postInfoTitle {
  word-break: break-word;
}

.postInfoTitle h2 {
  cursor: pointer;
  transition: 0.2s;
}

.postInfoTitle h2:hover{
   color: #7451f8;
 }

.postReactions{
  padding: 0 20px 20px 20px;
  display: flex;
  gap: 30px;
  font-size: 13px;
  color: gray
}

.postReactionsInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postReactionsIcon {
  font-size: 17px;
  color: black;
  cursor: pointer;
}

.postList {
  flex-basis: 55%;
  margin: auto;
}

.formBody {
  width: 500px;
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.51);
}

.formTitle {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.contactForm {
  margin-top: 30px;
}

.postWrapper {
  display: flex;
}

.postInner {
  flex-basis: 75%;
  margin: auto auto;
}

.postDescription {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.back {
  margin: 20px 0 20px 0;
  background: none;
  border: 1px solid #7451f8;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  display: flex;
  gap: 6px;
  font-size: 18px;
  color: #7451f8;
}

.backIcon{
  font-size: 30px;
}

.postInfo {
  padding: 0 50px 20px 50px;
  margin-top: 20px;
}

.author {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.authorDetails {
  display: flex;
  flex-direction: column;
}

.name{
  font-size: 14px;
  font-weight: 600;
}

.date{
  font-size: 13px;
  color: #7c7b7b;
}

.postText {
  padding: 0 50px 20px 50px;
}

.postText ul li{
  margin-left: 17px;
}

.postActionsInfo {
  padding: 0 50px 50px 50px;
  display: flex;
  gap: 20px;
}

.postLike {
  display: flex;
  align-items: center;
  gap: 4px;
}

.postLike span{
  font-size: 15px;
}

.postComments {
  margin: 20px 30px 0 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px 20px 20px 20px;
}

.postComments img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.commentsList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.commentFormArea {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  font-size: 15px;
  resize: none;
}

.comment {
  display: flex;
  gap: 10px;
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.commentAuthor {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.commentAuthorName {
  font-size: 14px;
}

.commentDate{
  color: #7c7b7b;
}

.commentText{
  line-height: 25px;
  word-break: break-word;
  margin-top: 10px;
}

.latestList {
  flex-basis: 25%;
  height: fit-content;
  margin-top: 20px;
  background-color: #fdfdfd;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.51);
}

.latestTitle{
  padding: 10px;
  /*border-bottom: 1px solid lightgray;*/
  color: gray;
}

.latestItems ul {
  list-style: none;
}

.latestItems ul li {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 10px 7px 10px 7px;
}

.latestItems ul li span {
  flex: 1;
  font-size: 12px;
  color: gray;
}

.latestItems ul li span:last-child {
  border-bottom: none;
}

.latestLink {
  text-decoration: none;
  color: inherit;
  flex: 4;
}

.latestLink h5 {
  word-break: break-word;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.latestLink h5:hover {
  color: #7451f8;
}

.editButton {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #7451f8;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.deleteButton {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #b33131;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.commentButton {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #3137b3;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.addArticle {
  width: fit-content;
  margin: 20px 0 0 0;
  border: 1px solid #7451f8;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  display: flex;
  gap: 6px;
  font-size: 18px;
  color: #7451f8;
}

.checkDelete {
  position: absolute;
  margin: 10px;
}

.comment-link {
  text-decoration: none;
  color: inherit;
}

.attente {
  background-color: #d9f1ff;
}

.valide {
  background-color: #e1ffe0;
}

.invalide {
  background-color: #fcdbdb;
}

.legende {
  width: 25px;
  height: 25px;
}

.btn-check:hover {
  background-color: #fcdbdb;
  color: #0a435a;
}

.myModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.contentModal {
  min-width: fit-content;
  min-height: fit-content;
  max-width: 450px;
  max-height: 500px;
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.51);
}

.images {
  grid-template-columns: 70px 70px 70px 70px;
  column-gap: 10px;
  row-gap: 10px;
  display: grid;
  width: fit-content;
  max-height: 300px;
  overflow: auto;
  border: 1px solid rgba(100, 100, 100, 0.51);
  padding: 20px;
}

.images img:hover {
  border: 1px solid rgba(100, 100, 100, 0.51);
  transform: scale(1.5);
  background-color: white;
}

.imgArticle {
  width: inherit;
}

.noPuce {
  list-style-type: none;
}

.check {
  color: #1e8921;
}

.wrong {
  color: red;
}