@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-article {
  width: 80px;
  height: 80px;
}

.pointer {
  cursor: pointer;
}

.m-10 {
  margin: 50px 200px;
}

.h-fit {
  height: fit-content;
}

.red {
  color: #ff5757;
}

.bg-dark{
  background-color: #000000;
}

.elipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.comments {
  border-top: 3px solid #070707;
  padding-top: 25px;
  margin-top: 50px;
}

.comment-number {
  width: fit-content;
  font-weight: bold;
  padding: 10px 30px;
  margin: -50px auto auto;
  background-color: #0f2537;
}

.green {
  color: #1e8921;
}